* {
    font-family: 'Montserrat', sans-serif; /* Police utisé pour tout le site */
}

body {
    margin: auto; /*Enlever les barres défini par le navigateur */
    box-sizing: border-box;

}

::placeholder {
    color: #2e2e2e; /* Noir */
    opacity: 1;  /* Opacité à 100% (pour éviter la transparence) */
}

/*--------------------LOADER--------------------*/

/* Fond blanc et taile/position du drapea */
.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white; 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; 
}

.loader-flag img {
    width: 150px; 
    height: auto;
    animation: flag-move 2s infinite ease-in-out; 
}

/* Mouvement du drapeau */
@keyframes flag-move {
    0% {
        transform: translateY(0); 
    }
    50% {
        transform: translateY(-20px); 
    }
    100% {
        transform: translateY(0); 
    }
}

/*--------------------HEADER--------------------*/

header { /* Arrière-plan header */ 
    background-color: #ce1828; 
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img { /* Logo header */
    height: 65px;
}

.head1 { /* Bloc de gauche du header */
    display: flex;
    align-items: center;
    margin-left: 50px;
    color: #ffffff;
}

.head1 img {
    padding-right: 5px;
}

.head1 p {
    margin: 0;
}

.head2 { /* Bloc de droite du header */
    margin-right: 50px;
    display: flex;
}

.nb_a{ /* Effet de coulissement en dessous de la navbar*/
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
    padding: 0 5px;
    font-size: 15px;
    display: flex;
    align-items: center;
    position: relative;
}

.nb_a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: #c1950a;
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

.nb_a:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.tricolor-bar {    /* Barre de décoration avec les couleurs égyptienne */ 
    display: flex; /* Utilise Flexbox pour aligner les sections horizontalement */
    height: 10px;  /* Ajuste la hauteur selon tes besoins */
}

.tricolor-bar .red {
    background-color: #ce1828; /* Rouge */
    flex: 1;
}

.tricolor-bar .white {
    background-color: #ffffff; /* Blanc */
    flex: 1;
}

.tricolor-bar .black {
    background-color: #000000; /* Noir */
    flex: 1;
}

.navbar-toggler {
    border: none;
    outline: none;
    background-color: transparent;
    display: none; /* Cacher par défaut */
}

.navbar-toggler-icon {
    font-size: 1.5rem;
    color: white;
}

/* Cacher le menu mobile par défaut */
.navbar-collapse {
    display: none;
    position: absolute;
    top: 90px;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.85); /* Fond noir avec un peu de transparence */
    padding: 10px 0;
    z-index: 10000;
}

/* Montrer le menu quand il est actif */
.navbar-collapse.show {
    display: block;
}

/* Menu hamburger uniquement en dessous de 800px */
@media (max-width: 800px) {
    .head2 {
        display: none;
    }

    .navbar-toggler {
        display: block; /* Afficher le bouton hamburger */
        z-index: 10000;
    }
}

/* Styles supplémentaires pour le menu mobile */
.navbar-collapse a {
    color: white;
    text-decoration: none;
    margin: 5px 0;
    padding: 10px;
    text-align: center;
    display: block;
}

.navbar-collapse a:hover {
    background-color: #c1950a;
}
/*--------------------FOOTER--------------------*/

footer {
    background-color: #000000;
    width: 100%;
    color: #ffffff;
    height: 90px;
    margin: auto;
}

footer a {
    text-decoration: none;
    color: #ffffff;
    margin: 10px 60px;
    cursor: pointer;
}

.footer-copy {
    text-align: center;
    margin: 10px;
}

@media screen and (max-width: 800px) {

    .head1 p {
        display: none;
    }

    footer {
        height: 200px; 
    }

    .footer-list {
        display: flex;
        flex-direction: column;
    }
}

/*--------------------ACCUEIL--------------------*/

/*--------------------ACCUEIL-present--------------------*/

.home-present {
    position: relative;
    background-color: rgb(30, 30, 30); /* Fond noir sur image */
    height: 600px; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    overflow: hidden; /* S'assure que tout reste à l'intérieur de la section */
}

.home-present img {
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Améliore la qualité de l'image */
    position: absolute; /* Position absolue pour l'image */
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: 0.6; /* Réduit l'opacité pour que le texte soit plus lisible */
}

.home-present-text {
    position: relative;
    z-index: 2;
    color: white;
    text-align: center;
    opacity: 0; /* cacher le texte */
    transform: translateY(100%); /* le placé en dessous*/
    z-index: 1000;
}

.home-present-text p {
    font-size: 20px;
}

.animate-slideUp {
    animation: slideUp 0.7s ease-out forwards; /* temps d'animation et direction */
}

/* Animation pour l'apparition du texte*/
@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/*--------------------ACCUEIL-contact--------------------*/

.home-contact {
    border: 1px solid #a6a6a6;
    background-color: #fafafa;
    width: 70%;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1000;
    position: absolute;
    left: 50%; /* Centre horizontalement */
    transform: translateX(-50%); /* Assure le centrage complet */
    top: 622px; /* Ajuste cette valeur pour la position verticale (chevauchement sur l'image) */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Ajout d'une ombre pour un effet visuel */
    flex-wrap: wrap;
}

@media screen and (max-width: 656px) {

    .home-contact{
        justify-content: flex-start;
    }
} 

.home-contact i {
    font-size: 28px;
}

.home-contact-info {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.home-contact-info div {
    padding-left: 15px;
}

.home-info h1,
.home-culture h1 {
    margin: 100px 0 50px 0;
    text-align: center;
}

.home-culture {
    margin-bottom: 120px;
}

/*--------------------ACCUEIL-actu(bootstrap)--------------------*/

.custom-card {
    width: 28%; /* Chaque card prendra 28% de la largeur de l'écran */
}

.custom-card .card {
    height: 450px; /* Hauteur fixe des cards */
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
    flex-wrap: wrap;
}

.custom-card .card-img-top {
    height: 50%; /* Image occupe 60% de la hauteur de la card */
    object-fit: cover; /* Ajuste l'image sans la déformer */
}

.custom-card .card-body {
    height: 50%; /* Texte occupe 40% de la card */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; /* Centre le texte */
    flex-direction: column;
}

.card-body h2{
    font-size: 22px;
}

/*--------------------ACCUEIL-culture--------------------*/

.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%; /* Largeur totale du carousel */
}

.carousel-track-container {
    width: 84%; /* Montre seulement 3 cards (3 * 28%) à la fois */
    overflow: hidden; /* Cache les cards qui sortent du cadre visible */
    position: relative;
    padding: 0; /* Assure-toi qu'il n'y a pas de padding ajouté */
    margin: 0;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease;
    width: calc(33% * 7); /* Largeur totale pour 7 cards */
}

.custom-card2 {
    width: 28%; /* Chaque card occupe 28% de la largeur */
    margin-right: 10px; /* Espacement entre les cards */
    margin-bottom: 20px; /* Espace en bas des cards */
}

.custom-card2 .card {
    height: 300px; /* Hauteur fixe pour chaque card */
    display: flex;
    flex-direction: column; /* Aligne l'image et le texte verticalement */
    justify-content: space-between; /* Espace entre l'image et le texte */
}

.custom-card2 .card-img-top {
    height: 60%; /* L'image occupe 60% de la hauteur */
    object-fit: cover; /* Assure que l'image garde ses proportions */
}

.custom-card2 .card-body {
    height: 40%; /* Le texte occupe 40% de la card */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; /* Centre le texte */
}

button.prev,
button.next {
    background-color: #2e2e2e;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

button.prev {
    left: 7%; /* Positionné juste à gauche du premier card */
}

button.next {
    right: 7%; /* Positionné juste à droite du dernier card */
}

/*--------------------ACCUEIL-fiche--------------------*/

.home-fiche {
    border: 1px solid #a6a6a6;
    background-color: #fafafa;
    width: 70%;
    height: 220px;
    z-index: 1000;
    position: absolute;
    left: 50%; /* Centre horizontalement */
    transform: translateX(-50%); /* Assure le centrage complet */
    top: 1880px; /* Ajuste cette valeur pour la position verticale (chevauchement sur l'image) */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Ajout d'une ombre pour un effet visuel */
    text-align: center;
}

.home-fiche-titles {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.home-fiche-gauche {
    flex: 1;
}

.home-fiche-droite {
    flex: 1;
}

.home-fiche-info {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 20px;
    margin-left: 20px;
    padding: 5px 5px 0 0;
}

.home-fiche-info i {
    margin-right: 5px;
}

/*--------------------ACCUEIL-end--------------------*/

.home-end {
    display: flex;
    background-color: #000000;
    justify-content: space-around;
    flex-wrap: wrap;
}

.home-end-maps {
    flex: 1;
    margin: 140px 20px 40px 60px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.home-end-container {
    margin: 140px 60px 40px 10px;
    padding: 10px;
    background-color: #fafafa;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    flex: 1;
}

.home-end-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    font-size: 1.1rem;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #a6a6a6;
    border-radius: 4px;
}

.home-end-bt {
    padding: 10px 20px;
    background-color: #ce1126;
    color: white;
    font-size: 1.1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.home-end-bt:hover {
    background-color: #a50d1b;
}

/*--------------------SIGN-INSCRIPTION--------------------*/

.sign-back {
    margin: 10px 20px;
    background-color: transparent;
    font-size: 20px;
    border: 1px solid #cecece;
    border-radius: 10px;
    width: 10%;
    padding: 3px;
}

.sign-back a {
    text-decoration: none;
    color: #cecece;
}


.sign {
    background-image: url('../img/back2.png'); /* Remplacez par le chemin de votre image */
    background-size: cover;
    background-position: center;
    height: 95vh;
    width: 100%;
    object-fit: cover;
}

.sign-container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap;
    margin: -15px auto auto auto;
}

.sign-form {
    background-color: #ebebeb;
    border-radius: 30px;
    margin: 20px;
    width: 65vh;
    font-size: 20px;
}

.sign-loterie {
    background-color: #ebebeb;
    border-radius: 30px;
    width: 65vh;
    margin: 20px;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sign-loterie p {
    text-align: center;
    margin: 10px;
}

.sign-form-info {
    display: flex;
    flex-direction: column;
    margin: 20px;
    font-size: 22px;
}

.sign-form-info input,
.sign-form-info select {
    margin: 7px;
    border-radius: 5px;
    border: 0;
    padding-left: 5px;
}

.sign-form-info label {
    margin-left: 10px;
}

.sign-form-info button {
    border-radius: 20px;
    background-color: #ffffff;
    transition: transform 0.3s ease;
    height: 50px;
    width: 50%;
    align-items: center;
    margin: 20px auto;
}

.sign-form-info button:hover {
    transform: scale(1.1);
}

.sign-form-info p {
    text-align: center;
}

/*--------------------SIGN-CONNEXION--------------------*/

.sign-form-in {
    background-color: #ebebeb;
    border-radius: 30px;
    margin: 250px auto auto auto;
    width: 40%;
    font-size: 20px;
}

/*--------------------SIGN-PASSWORD--------------------*/

.password-container {
    position: relative;
    display: flex;
    align-items: center;
}

.password-container input {
    width: 100%;
    padding-right: 40px;
    border-radius: 5px;
    padding-left: 5px;
    height: 40px;
}

.password-container i {
    position: absolute;
    right: 15px;
    margin-top: 5px;
    cursor: pointer;
    color: #a6a6a6; 
}

/*--------------------VISA--------------------*/

.visa-present {
    position: relative;
    background-color: rgb(255, 255, 255); /* Fond noir sur image */
    height: 600px; 
    display: flex;
    align-items: center; 
    justify-content: space-around; 
    flex-wrap: wrap;
    overflow: hidden; /* S'assure que tout reste à l'intérieur de la section */
}

.visa-present img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Améliore la qualité de l'image */
    position: absolute; /* Position absolue pour l'image */
    top: 0;
    left: 0;
    z-index: 10;
    opacity: 0.6; /* Réduit l'opacité pour que le texte soit plus lisible */
}

.visa-present h1 {
    font-weight: 700;
    text-align: center;
    z-index: 100;
}

.visa-present a {
    text-decoration: none;
    color: #000000;
    font-size: 30px;
    z-index: 100;
    border: 1px solid #000000;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    transition: 0.5s ease;
}

.visa-present a:hover {
    transform: scale(1.1);
    border: 1px solid #cecece;
}